@use "sass:map";
@use "./mixins/mixins.scss" as *;
@use "./common/var.scss" as *;

@include b(button) {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: map.get($common-component-size, "default");
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid #dcdfe6;
  &:active {
    transform: scale(0.95);
    outline: none;
  }

  @include m(middle) {
    padding: 0 20px;
  }
  @include m(small) {
    padding: 0 15px;
  }
  @include m(large) {
    padding: 0 30px;
  }

  @include m(primary) {
    @include getColor($color-primary, $color-white, $color-primary);
  }
  @include m(success) {
    @include getColor($color-success, $color-white, $color-success);
  }
  @include m(warning) {
    @include getColor($color-warning, $color-white, $color-warning);
  }
  @include m(danger) {
    @include getColor($color-danger, $color-white, $color-danger);
  }
  @include m(info) {
    @include getColor($color-info, $color-white, $color-info);
  }

  @include when(disabled) {
    filter: blur(0.8px);
    &,
    &:hover {
      cursor: not-allowed;
    }
    &:active {
      transform: scale(1);
      outline: none;
    }
  }
  @include when(round) {
    border-radius: 20px;
  }
  @include when(circle) {
    width: map.get($common-component-size, "default");
    padding: 0px;
    border-radius: 50%;
  }

  @include when(loading) {
    filter: blur(0.8px);
    &,
    &:hover {
      cursor: not-allowed;
    }
    &:active {
      transform: scale(1);
      outline: none;
    }
    .is-loading {
      width: 1em;
      height: 1em;
      display: grid;
      animation: spinner-plncf9 3s infinite;
      margin-right: 3px;
      &::before,
      &::after {
        content: "";
        grid-area: 1/1;
        border: 1px solid;
        border-radius: 50%;
        border-color: #fff;
        mix-blend-mode: darken;
        animation: spinner-plncf9 1s infinite linear;
      }

      &::after {
        border-color: #0000 #0000;
        animation-direction: reverse;
      }

      @keyframes spinner-plncf9 {
        100% {
          transform: rotate(1turn);
        }
      }
    }
  }
  @include e(text) {
    @include m(expand) {
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 2px;
    }
  }
}
