.gl-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid #dcdfe6;
}
.gl-button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  outline: none;
}
.gl-button--middle {
  padding: 0 20px;
}

.gl-button--small {
  padding: 0 15px;
}

.gl-button--large {
  padding: 0 30px;
}

.gl-button--primary {
  background: #409eff;
  color: #ffffff;
  border: 1px solid #409eff;
}

.gl-button--success {
  background: #67c23a;
  color: #ffffff;
  border: 1px solid #67c23a;
}

.gl-button--warning {
  background: #e6a23a;
  color: #ffffff;
  border: 1px solid #e6a23a;
}

.gl-button--danger {
  background: #f56c6c;
  color: #ffffff;
  border: 1px solid #f56c6c;
}

.gl-button--info {
  background: #909399;
  color: #ffffff;
  border: 1px solid #909399;
}

.gl-button.is-disabled {
  -webkit-filter: blur(0.8px);
          filter: blur(0.8px);
}
.gl-button.is-disabled, .gl-button.is-disabled:hover {
  cursor: not-allowed;
}
.gl-button.is-disabled:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  outline: none;
}

.gl-button.is-round {
  border-radius: 20px;
}

.gl-button.is-circle {
  width: 32px;
  padding: 0px;
  border-radius: 50%;
}

.gl-button.is-loading {
  -webkit-filter: blur(0.8px);
          filter: blur(0.8px);
}
.gl-button.is-loading, .gl-button.is-loading:hover {
  cursor: not-allowed;
}
.gl-button.is-loading:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  outline: none;
}
.gl-button.is-loading .is-loading {
  width: 1em;
  height: 1em;
  display: grid;
  -webkit-animation: spinner-plncf9 3s infinite;
          animation: spinner-plncf9 3s infinite;
  margin-right: 3px;
}
.gl-button.is-loading .is-loading::before, .gl-button.is-loading .is-loading::after {
  content: "";
  grid-area: 1/1;
  border: 1px solid;
  border-radius: 50%;
  border-color: #fff;
  mix-blend-mode: darken;
  -webkit-animation: spinner-plncf9 1s infinite linear;
          animation: spinner-plncf9 1s infinite linear;
}
.gl-button.is-loading .is-loading::after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  animation-direction: reverse;
}
@-webkit-keyframes spinner-plncf9 {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@keyframes spinner-plncf9 {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.gl-button__text--expand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
}