.gl-message {
  --gl-message-bg-color: var(--gl-color-info-light-9);
  --gl-message-border-color: var(--gl-border-color-lighter);
  --gl-message-padding: 11px 15px;
  --gl-message-close-size: 16px;
  --gl-message-close-icon-color: var(--gl-text-color-placeholder);
  --gl-message-close-hover-color: var(--gl-text-color-secondary);
}

.gl-message {
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  position: fixed;
  left: 40%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gl-message--content {
  padding: 0;
  font-size: 12px;
  text-align: center;
}
.gl-message--content:focus {
  outline-width: 0;
}

.gl-message--success {
  background-color: #67c23a;
}

.gl-message--error {
  background-color: #f56c6c;
}

.gl-message--warning {
  background-color: #e6a23a;
}

.gl-message--info {
  background-color: #909399;
}

.gl-message-fade-enter-from,
.gl-message-fade-leave-to {
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.gl-message-fade-enter-active {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.gl-message-fade-leave-active {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}